input[type='file']{
    height:30px;
    width:140px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;

  }

.file-upload{
    height:30px;
    width:140px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center; 
    border:1px solid rgb(104, 197, 73);
    background-color: #dcffec !important;
    border-radius:5px;
    padding-left:10px;
    margin-top:10px;
    transition: all 1s;
    color: #FFFFFF;
    font-size:13px; 
    
}