
.service{
  transition: .4s ease-in-out;
  cursor: pointer;
}
.service:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  transform: translateY(-10px);
  border: none;
}
.service h3{
  transition: .4s ease-in-out;
}
.service h5{
  transition: .2s ease-in-out;
}
.service:hover h3{
  color: #06b36b;
}
.service:hover h5{
  color: #06b36b;
}
.card{
  border: none !important;
}

.imgHover figure img{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imgHover figure img:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}




input:focus{
  box-shadow: 1px 1px 10px 0 rgb(98 120 223 / 50%) !important;
    border: 1px solid #06b36b !important;
    outline: none !important;
}
textarea:focus{
  box-shadow: 1px 1px 10px 0 rgb(98 120 223 / 50%) !important;
    border: 1px solid #06b36b !important;
    outline: none !important;
}